# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.svn/
migrate_working_dir/
**/.env

## MacOS
.DS_Store
.AppleDouble
.LSOverride

## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100	
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Code related
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
.dart_tool/
packages/*/.dart_tool/
packages/*/.packages
packages/*/.pub/
packages/*/build/
packages/*/pubspec.lock
packages/*/pubspec_overrides.yaml
packages/*/.flutter-plugins
packages/*/.flutter-plugins-dependencies
packages/*/doc/api/
packages/*/coverage/
packages/*/coverage_badge.svg
packages/*/test/.test_coverage.dart

# Javascript related
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Node related
node_modules

# Yarn related
yarn.lock