name: Dart Coverage

on:
  push:
    branches:
      - master
    paths:
      - 'melos.yaml'
      - 'packages/**'
      - '.github/workflows/dart-coverage.yml'

jobs:
  coverage:
    name: Dart Coverage

    strategy:
      matrix:
        os: ['ubuntu-latest']
        channel: ['stable']        
        flutter_version: ['3.7.0']

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install libraries
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install libsqlite3-dev -y
          bash <(curl -s https://raw.githubusercontent.com/objectbox/objectbox-dart/main/install.sh)

      - name: Set up flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.channel }}
          flutter-version: ${{ matrix.flutter_version }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install packages
        run: |
          dart pub global activate melos

      - name: Bootstrap
        run: |
          melos bs

      - name: Coverage
        run: |
          melos coverage
          melos codecov